:root {
  --coal: #3c3d41;
  --teal: #009c9c;
  --info: #2d6bcf;
  --link: #ffe600;
  --success: #4bbf73;
  --warning1: #e5a54b;
  --warning2: #d9534f;
  --black1: #000000;
  --black2: #414d45;
  --black3: #32373b;
  --gray1: #6c757d;
  --gray2: #ced4da;
  --gray3: #dee6ed;
  --white: #fff;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: "Rubrik-Regular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4em;
  word-wrap: break-word;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  color: #3c3d41;
  margin: 0px;
}

h1 {
  font-family: "Nobblee-Light", sans-serif;
  font-size: 64px;
  line-height: 64px;
}

h2 {
  font-size: 36px;
  line-height: 40px;
}

h3 {
  font-size: 28px;
  line-height: 32px;
}

h4 {
  font-size: 22px;
  line-height: 28px;
}

h5 {
  font-size: 20px;
  line-height: 28px;
}

@media (max-width: 783px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
  h1 {
    font-size: 56px;
    line-height: 56px;
  }

  h2 {
    font-size: 32px;
    line-height: 36px;
  }

  h3 {
    font-size: 26px;
    line-height: 28px;
  }

  h4 {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 615px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
  h1 {
    font-size: 36px;
    line-height: 36px;
  }

  h2 {
    font-size: 30px;
    line-height: 32px;
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
  }

  h4 {
    font-size: 20px;
    line-height: 24px;
  }
}

.Header-Wrapper {
  float: left;
  display: flex;
  align-items: center;
  gap: 30px;
}

.Header-Logo {
  height: 40px;
}

.Header-Text {
  font-size: 22px;
  font-weight: bold;
  margin: 0px;
  text-decoration: none;
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  color: var(--link);
}

.Siderbar-Ul {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.Sidebar-Li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  display: block;
  width: auto;
  border-right: 3px solid transparent;
  position: relative;
  white-space: nowrap;
  transition: 0.3s;
}
.Sidebar-Li .active {
  background-color: #007b85;
}

.Sidebar-Li:hover {
  border-color: var(--teal) #f5d500 var(--teal) var(--teal);
  border-color: rgba(255, 255, 255, 0.25) #f5d500 rgba(255, 255, 255, 0.25)
    rgba(0, 0, 0, 0.25);
  background-color: #007b85;
}

.Sidebar-Li:before {
  border-color: var(--teal) #f5d500 var(--teal) var(--teal);
  border-width: 6px;
  margin-top: -6px;
  top: 50%;
}

.Sidebar-Links {
  text-align: center;
  border-top: 1px solid transparent;
}

.Sidebar-Icon {
  margin: 0 auto;
  font-size: 22px;
  padding: 0 0 7.5px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.Sidebar-Link {
  color: var(--white);
  padding: 12px 18px;
  font-weight: normal;
  text-decoration: none;
  display: grid;
  transition: 0.3s;
  border-width: 6px;
}
.Sidebar-Text {
  display: block;
  text-transform: none;
  white-space: pre-wrap;
  overflow: hidden;
  padding: 0 5px;
  font-size: 12px;
}
.Sidebar-Link:hover {
  background: #007b85;
  color: #ffe600;
  border-color: rgba(255, 255, 255, 0.25) #f5d500 rgba(255, 255, 255, 0.25)
    rgba(0, 0, 0, 0.25);
}

.Sidebar-Link:active {
  color: #ffe600;
  text-decoration: underline;
}

.active {
  border-color: rgba(255, 255, 255, 0.25) #f5d500 rgba(255, 255, 255, 0.25)
    rgba(0, 0, 0, 0.25);
  background-color: #007b85;
}

.active-link {
  color: #ffe600;
}

.Sidebar-Li:hover:before {
  border: solid transparent;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 0;
  border-color: #007b85 #f5d500 #007b85 #007b85;
  border-width: 6px;
  margin-top: -6px;
  top: 50%;
}

.Sidebar-Li:hover:after {
  border: solid transparent;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 0;
}

.active:before {
  border: solid transparent;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 0;
  border-color: #007b85 #f5d500 #007b85 #007b85;
  border-width: 6px;
  margin-top: -6px;
  top: 50%;
}

.active:after {
  border: solid transparent;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 0;
}

@media (max-width: 450px) {
  .Sidebar-Text {
    display: none;
  }
  .Sidebar-Links {
    border-top: 0px solid rgba(0, 0, 0, 0.25);
  }
}

ul ol {
  margin-top: 0;
  margin-bottom: 10px;
}

dl,
ol,
p,
ul {
  font-size: 14px;
  line-height: 1.4em;
}

footer a {
  text-decoration: none;
  color: var(--white);
  padding: 0px 8px;
  transition: 0.4s;
  border-left: 1px solid var(--white);
}

footer a:hover {
  text-decoration: underline;
}

footer a:first-child {
  padding-left: 0px;
  border-left: none;
}
footer a:last-child {
  padding-right: 0px;
}

footer .poweredby {
  float: right;
}

@media (max-width: 450px) {
  .Sidebar-Text {
    display: none;
  }
  .Sidebar-Links {
    border-top: 0px solid rgba(0, 0, 0, 0.25);
  }
}

.layout {
  width: 100%;
  display: grid;
  grid:
    "header header" auto
    "sidebar body" 1fr
    "sidebar footer" auto
    / auto 1fr;
  min-height: 100vh;
}

header {
  display: flex;
  grid-area: header;
  height: 40px;
  padding: 8px 32px;
  background-color: var(--teal);
  align-self: stretch;
  align-items: flex-start;
}
nav {
  display: flex;
  grid-area: sidebar;
  background-color: var(--teal);
  align-self: stretch;
}

main {
  display: flex;
  grid-area: body;
  background-color: #f4f4f4;
  padding: 2em;
  align-self: stretch;
  flex-direction: column;
}

footer {
  grid-area: footer;
  background: #2a2a2a;
  color: var(--white);
  padding: 13px 20px;
  align-self: stretch;
  overflow-x: auto;
}

.Siderbar-Ul2 {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.Sidebar-Li2 {
  display: block;
  width: auto;
  position: relative;
  white-space: nowrap;
}
.Sidebar-Li2 .active2 {
  background-color: var(--link);
}

.Sidebar-Links2 {
  text-align: left;
}

.Sidebar-Icon2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.Sidebar-Link2 {
  color: var(--white);
  padding: 12px 24px;
  font-weight: normal;
  text-decoration: none;
  display: grid;
  grid-template-columns: 18px auto;
  gap: 10px;
  align-items: baseline;
  transition: 0.3s;
  border-width: 6px;
  font-size: 14px;
  line-height: 19px;
}
.Sidebar-Text2 {
  display: block;
  text-transform: none;
  white-space: pre-wrap;
  overflow: hidden;
  font-size: 14px;
}
.Sidebar-Link2:hover {
  background: transparent;
  color: var(--link);
  border-color: transparent var(--link) transparent transparent;
}

.Sidebar-Link2:active {
  color: var(--link);
  text-decoration: underline;
}

.active2 {
  border-color: transparent var(--link) transparent transparent;
  background-color: #007b85;
}

.active-link2 {
  color: var(--link);
}

@media (max-width: 450px) {
  .Sidebar-Text2 {
    display: none;
  }
  .Sidebar-Links2 {
    border-top: 0px solid rgba(0, 0, 0, 0.25);
  }
  .Sublink {
    grid-template-columns: 0px auto !important;
    gap: 0px !important;
  }
}

.Sublink-Ul {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
  background-color: #007b85;
}

.Sublink-Li {
  display: block;
  width: auto;
  position: relative;
  white-space: nowrap;
}

.Sublink-Links {
  text-align: left;
}

.Sublink {
  color: var(--white);
  padding: 12px 24px;
  font-weight: normal;
  text-decoration: none;
  display: grid;
  grid-template-columns: 18px auto;
  gap: 10px;
  align-items: baseline;
  transition: 0.3s;
  border-width: 6px;
  font-size: 13px;
  line-height: 19px;
}
.Sublink.active-link2 {
  color: var(--link) !important;
}
.Sublink-Text {
  display: block;
  text-transform: none;
  white-space: pre-wrap;
  overflow: hidden;
  font-size: 14px;
}
.Sublink:hover {
  background: transparent;
  color: var(--link);
  border-color: transparent var(--link) transparent transparent;
}

.Sublink:active {
  color: var(--link);
  text-decoration: underline;
}

.card_background {
  background-image: url("../images/welcome/Background.png");
}
